body{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    margin: 0%;
    background-color: #f0f0f0;
    flex-direction: column;
}
.calci{
    border-radius: 10px;
    padding: 20px;
    background-image: url(LOGO.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
textarea#result{
    width: 70%;
    padding: 15%;
    text-align: right;
    border: none;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    border-radius: 5px;
}
.buttons{
    padding: 10px;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button:hover{
    background-color: #aa656580;
}
button:active{
    background-color: aqua;
}